h2:hover {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
h2:hover {
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
/* Navigation Bar */
nav {
    background-color: #333;
    overflow: hidden;
}

#nav-bar {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#nav-bar li {
    float: left;
}

#nav-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change color on hover */
#nav-bar li a:hover {
    background-color: #111;
}
